* {
  color: white;
}

html {
  overflow: auto;
  height: 100%;
}

body {
  overflow: auto;
  min-height: 100vh;
  margin: 0;
  background-color: #0C0A1A;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* --------------------------------------Home---------------------------------------- */

.slider_container{
  width: 50%;
  display: flex;
  align-items: center;
  margin: 3vw auto;
  flex-direction: column;
  border: solid 0.1vw #60A0E9;
  border-radius: 2vw;
  padding: 1vw;
}

.slider_content {
  display: flex;
  flex-direction: row;
}

.slider_imageframe {
  width: 40%;
}

.slider_textfield {
  margin-left: 1vw;
  width: 60%;
}

.slider_price {
  text-align: right;
}

#slider_image {
  width: 100%;
  border-radius: 1vw;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

p {
  font-size: 1vw;
}




/* -------------------------------------Books---------------------------------------- */

.gradient_border{
  display: flex;
  position: relative;
  padding: 0;
  margin: 2%;
  max-width:50%;
}

.gradient_border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2vw;
  border: 5px solid transparent;
  background: linear-gradient(140deg, #00FFFF, #8080E1) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.book_container {
  width: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
  background: #101123;
  border-radius: 2vw;
}

.book_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
  overflow: none;
}

.book_imageframe {
  width: 40%;
}

.book_textfield {
  margin-left: 1vw;
  width: 60%;
}

.book_price {
  text-align: right;
}

.book_image {
  width: 100%;
  border-radius: 1vw;
}




/* --------------------------------------Login--------------------------------------- */

.login_gradient_border {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 2%;
  width: 65vw;
  height: 65vh;
}

.login_gradient_border::before {
    content: "";
  position: absolute;
  inset: 0;
  border-radius: 1vw;
  border: 3px solid transparent;
  background: linear-gradient(140deg, #00FFFF, #8080E1) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.login_panel {
  width: 100%;
  height: 100%;
  background: #101123;
  border-radius: 1vw;
  
}

.login_content {
  padding: 5vh;
  display: flex;
  justify-content: center;
}

.mail .password {

}



/* --------------------------------------Search--------------------------------------- */

.search_gradient_border {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  width:100%;
  height: 100%;
}

.search_gradient_border::before {
    content: "";
  position: absolute;
  inset: 0;
  border-radius: 1vw;
  border: 3px solid transparent;
  background: linear-gradient(140deg, #00FFFF, #8080E1) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.search_container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.advancedsearch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2vh;
}

.searchdiv {
  width: 100%;
}

.search_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchfield {
  width: 100%;
  font-size: 1.5vw;
  background-color: #1C1D36;
  border: solid 0 #1C1D36;
  border-radius: 0 10vw 10vw 0;
  margin-right: 0;
}

.searchfield:focus{
  outline: none;
}

.searchbutton {
  background-color: #1C1D36;
  font-size: 1.5vw;
  border: solid 0 #1C1D36;
  border-radius: 10vw 0 0 10vw;
  padding-left: 1vh;
  /*padding-top: 1vh;*/
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search_result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vh 10vw;
  gap: 4vh 2vh;
}

.advancedsearch_form:nth-child(1) select{
  background: inherit;
  font-size: 2vh;
  background-color: #1C1D36;
  border: solid 0 #1C1D36;
  border-radius: 10vw 0 0 10vw;
  padding-left: 1vh;
  margin-right: 1vh;
}

.advancedsearch_form:nth-child(2) select{
  background: inherit;
  font-size: 2vh;
  background-color: #1C1D36;
  border: solid 0 #1C1D36;
  border-radius: 0 10vw 10vw 0;
}

.search_form * {
  height: 4vh;
}

.search_form .searchfield {
  padding: 0 0 0 1vh;
}

.book_search_container {
  display: flex;
  width: 20%;
  margin: 0 1vw;
  height: 50vh;
  background: #101123;
}

.search_book_image{
  border-radius: 1vw;
  width: 10vw;
  height: 27vh;
}

.price {
  margin-top: 1vh;
}
