* {
  color: white;
  text-decoration: none;
  font-family: monospace;
}

html {
  overflow: auto;
  height: 100%;
}

body {
  overflow: auto;
  min-height: 100vh;
  margin: 0;
  background-color: #0C0A1A;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



/* --------------------------------------Home---------------------------------------- */

.slider_container{
  width: 50%;
  display: flex;
  align-items: center;
  margin: 3vw auto;
  flex-direction: column;
  border: solid 0.1vw #60A0E9;
  border-radius: 2vw;
  padding: 1vw;
}

.slider_content {
  display: flex;
  flex-direction: row;
}

.slider_imageframe {
  width: 40%;
}

.slider_textfield {
  margin-left: 1vw;
  width: 60%;
}

.slider_price {
  text-align: right;
}

#slider_image {
  width: 100%;
  border-radius: 1vw;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

p {
  font-size: 1vw;
}




/* -------------------------------------Books---------------------------------------- */

.gradient_border{
  display: flex;
  position: relative;
  padding: 0;
  margin: 2%;
  max-width:50%;
}

.gradient_border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5vw;
  border: 2px solid transparent;
  background: linear-gradient(140deg, #00FFFF, #8080E1) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.book_gradient_border {
  display: flex;
  position: relative;
  padding: 0;
  margin-top: 5vh;
  max-width: 90vw;
}

.book_gradient_border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5vw;
  border: 2px solid transparent;
  background: linear-gradient(140deg, #00FFFF, #8080E1) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}


.book_container {
  width: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
  background: #101123;
  border-radius: 0.5vw;
}

.books_book_container {
  padding: 5vw;
}

.book_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: none;
}


.book_infos {
  flex-direction: column;
}

.book_infos p {
  color: #878787;
}

.book_text p {
  color: #878787;
}

.book_imageframe {
  width: 40%;
}

.book_textfield {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1vw;
  width: 60%;
  font-size: 1.8rem;
}

.book_price {
  text-align: right;
  justify-content: end;
  align-items: baseline;
}

.book_price_tag {
  font-size: 3rem;
  color: #878787;
}

.book_price_amount {
  font-size: 5rem;
  background: -webkit-linear-gradient( #00FFFF, #8080E1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.book_image {
  width: 100%;
  border-radius: 1vw;
}

.books_book_image {
  margin-top: 0;
}


/* --------------------------------------Login--------------------------------------- */

.login_gradient_border {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 2%;
  width: 65vw;
  height: 65vh;
}

.login_gradient_border::before {
    content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5vw;
  border: 2px solid transparent;
  background: linear-gradient(140deg, #00FFFF, #8080E1) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.login_panel {
  width: 100%;
  height: 100%;
  background: #101123;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_content {
  padding: 5vh;
  display: flex;
  justify-content: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 40vh;
  justify-content: center;
}


.login_title h3 {
  font-family: monospace;
  font-size: 4rem;
}

.login_inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  height: 10vw;
  font-size: 2rem;
}

.login_inputfield {
  border: none;
  width: 80%;
  background-color: transparent;
  border-bottom: 2px solid #878787 ; 
  font-size: 2rem;
}

.login_button {
  margin-right: 1vw;
  color: #878787  ;
  font-size: 2rem;
}

.register_link {
  color: #878787  ;
  font-size: 2rem;
}

.login_submit_container{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  align-items: baseline;
}

/* --------------------------------------Search--------------------------------------- */

.search_gradient_border {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  width:100%;
  height: 100%;
  justify-content: space-between;
}

.search_gradient_border::before {
    content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5vw;
  border: 2px solid transparent;
  background: linear-gradient(140deg, #00FFFF, #8080E1) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  
}

.search_container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.advancedsearch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2vh;
}

.searchdiv {
  width: 100%;
}

.search_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchfield {
  width: 100%;
  font-size: 1.5vw;
  background-color: #1C1D36;
  border: solid 0 #1C1D36;
  border-radius: 0 10vw 10vw 0;
  margin-right: 0;
}

.searchfield:focus{
  outline: none;
}

.searchbutton {
  background-color: #1C1D36;
  font-size: 1.5vw;
  border: solid 0 #1C1D36;
  border-radius: 10vw 0 0 10vw;
  padding-left: 1vh;
  /*padding-top: 1vh;*/
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search_result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vh 10vw;
  gap: 4vh 2vh;
}

.advancedsearch_form:nth-child(1) select{
  background: inherit;
  font-size: 2vh;
  background-color: #1C1D36;
  border: solid 0 #1C1D36;
  border-radius: 10vw 0 0 10vw;
  padding-left: 1vh;
  margin-right: 1vh;
}

.advancedsearch_form:nth-child(2) select{
  background: inherit;
  font-size: 2vh;
  background-color: #1C1D36;
  border: solid 0 #1C1D36;
  border-radius: 0 10vw 10vw 0;
}

.search_form * {
  height: 4vh;
}

.search_form .searchfield {
  padding: 0 0 0 1vh;
}

.book_search_container {
  display: flex;
  width: 20%;
  margin: 0 3vw;
  height: 50vh;
  background: #101123;
  border-radius: 0.5vw;
}

.search_book_image{
  border-radius: 0.5vw;
  width: 10vw;
  height: 27vh;
  margin-top: 5vh;
}

.price {
  margin: 1vh 0 1vh 0;
  align-items: baseline;
  justify-content: flex-end;
  padding-right: 1vw;
  justify-self: flex-end;
}

.price_amount p {
            margin: 0 0 0 0.5vw;
            font-size: 3rem;
            background: -webkit-linear-gradient( #00FFFF, #8080E1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.price_tag p {
  margin: 0;
}

/* ------------------------------------------- admin -------------------------------------------------*/ 

.create_container {
  display: flex;
  padding:1vw 1vw 3vw 1vw;
  background: #101123;
  border-radius: 0.5vw;
  justify-content: center;
}

.admin_functions {
  display: flex;
  width: 80vw; 
}

.admin_title {
  color: #878787 ;
}

.create_gradient_border {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 1vw;
  width:100%;
  height: 100%;
}

.create_gradient_border::before {
    content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5vw;
  border: 2px solid transparent;
  background: linear-gradient(140deg, #00FFFF, #8080E1) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.form_container{
  display: flex;
  flex-direction: column;
}

.form_container input {
  margin-top: 1vh;
}

.admin_submit {
  margin-top: 1vh;
  font-size: 2rem;
}

.admin_label {
  color: #878787 ;
  font-size: 2rem;
}

.create_container input {
  font-size: 2rem;
}

.admin_verkauft {
  border: 0.1vw solid #878787 ;
  border-radius: 0.25vw;
  padding-left: 0.25vw;
  margin-top: 1vh;
}

.admin_geschlecht {
  display: flex;
  align-items: baseline;
  border: 0.1vw solid #878787 ;
  border-radius: 0.25vw;
  padding-left: 0.25vw;
  margin-top: 1vh;
}

.admin_geschlecht input {
  margin-right: 1vw;
}

.admin_kontakt{
  border: 0.1vw solid #878787 ;
  border-radius: 0.25vw;
  padding-left: 0.25vw;
  margin-top: 1vh;
}


/*--------------------------------------register-----------------------------------*/ 

.register_gradient_border {
  display: flex;
  position: relative;
  padding: 0;
  width: 65vw;
  height: 65vh;
}

.register_gradient_border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5vw;
  border: 2px solid transparent;
  background: linear-gradient(140deg, #00FFFF, #8080E1) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.register_container {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register_title {
  font-size: 4rem;
}

.register_inputs {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.register_container input {
  margin-top: 1vw;
  font-size: 2rem;
  color: #878787 ;
}

.verify_admin_container {
  border: 0.1vw solid #878787 ;
  border-radius: 0.25vw;
  padding-left: 0.25vw;
  margin-top: 1vh;
  display: flex;
  align-items: baseline;
}

.register_label {
  color: #878787 ;
  font-size: 2rem;
}

.register_submit {
  margin-top: 1vh;
  font-size: 2rem;
  color: #878787 ;
}
