* {
  color: white;
}

html {
  overflow: auto;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  margin: 0;
  background-color: #0C0A1A;
}

.search_container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.advancedsearch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.searchdiv {
  width: 100%;
}

.search_form {
  display: flex;
  justify-content: center;
}

.searchfield {
  width: 100%;
  font-size: 1.5vw;
  background-color: #1C1D36;
  border: solid 0px #1C1D36;
  border-radius: 0 10vw 10vw 0;
  margin-right: 0;
}

.searchfield:focus{
  outline: none;
}

.searchbutton {
  background-color: #1C1D36;
  font-size: 1.5vw;
  border: solid 0 #1C1D36;
  border-radius: 10vw 0 0 10vw;
  padding-left: 0.3vw;
}

.slider_container{
  width: 50%;
  display: flex;
  align-items: center;
  margin: 3vw auto;
  flex-direction: column;
  border: solid 0.1vw #60A0E9;
  border-radius: 2vw;
  padding: 1vw;
}

.slider_content {
  display: flex;
  flex-direction: row;
}

.slider_imageframe {
  width: 40%;
}

.slider_textfield {
  margin-left: 1vw;
  width: 60%;
}

.slider_price {
  text-align: right;
}

#slider_image {
  width: 100%;
  border-radius: 1vw;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

p {
  font-size: 1vw;
}

.book_container {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 5vw auto;
  flex-direction: column;
  border: solid 0.1vw #60A0E9;
  border-radius: 2vw;
  padding: 1vw;
}

.book_content {
  display: flex;
  flex-direction: row;
}

.book_imageframe {
  width: 40%;
}

.book_textfield {
  margin-left: 1vw;
  width: 60%;
}

.book_price {
  text-align: right;
}

.book_image {
  width: 100%;
  border-radius: 1vw;
}

.login_panel {
  width: 40%;
  height: 30vw;
  border: solid 0.1vw #60A0E9;
  align-self: center;
}

.login_content {
  padding: 5vh;
  display: flex;
  justify-content: center;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}